.contact{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5rem;
}

.contact-wrapper {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(94, 94, 94);
  -webkit-box-shadow: 10px 6px 42px 0px rgba(102,102,102,0.69);
  -moz-box-shadow: 10px 6px 42px 0px rgba(102,102,102,0.69);
  box-shadow: 10px 6px 42px 0px rgba(102,102,102,0.69);
  border-radius: 20px;
}

.contact-title{
  margin-top: -2.5rem;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

.contact-form{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.contact-labels{
  font-weight: 600;
}

.contact-inputs{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-message--textarea{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-sizing: border-box;
}

.submit-input{
  background-color: #3f93ca;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}