.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #081C39;
    opacity: .95;
    color: #ffff;
    width: 343px;
    height: 490px;
    border-radius: 10px;
}

.login--title{
    font-size: 34px;
    margin-bottom: 25px;
}

.login--datos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login--input {
    border-radius: 15px;
    width: 300px;
    height: 45px;
    font-size: 22px;
    margin-bottom: 25px;
    padding: 0rem 1rem;
}

.login--buton{
    width: 145px;
    height: 47px;
    background-color: #00A3FF;
    border-radius: 20px;
    color: #ffff;
    font-size: 26px;
    margin-bottom: 25px;
}

/*Estilos de google*/

.google{
    margin-bottom: 10px;
}

.google--figure{
    width: 300px;
    height: 50px;
}

.google--figure:hover, .facebook:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.google--figure img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.facebook{
    width: 300px;
    height: 50px;
    border-radius: 15px;
    font-size: 1.2rem;
    margin: .5rem 0rem;
    background-color: #3b5998;
    color: white;
    font-size: 1.2rem;
}


/*Estilos del register*/

.register {
    text-align: center;
}
.register p{
    font-size: 21px;
    margin-bottom: 25px;
}

.register h4 {
    text-decoration: underline;
    text-decoration-color: blue;
    font-size: 25px;
}   

/* .Cart{
    display: block;
    align-items: center;
    
    border-radius: 3px;
    

} */
